# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Misc
.DS_Store
*.swp
*~
.idea/
.design-refs/
